.zoom-box {
    position: relative;
}

.zoom-box img {
    vertical-align: bottom;
}

.zoom-box .zoom-selector {
    position: absolute;
    background-image: url("images/selector.png");
    background-repeat: repeat;
    display: none;
    cursor: cell;
}

.zoom-box .viewer-box {
    position: absolute;
    display: none;
    overflow: hidden;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 10px #2d2e30e7);
}

.zoom-box .viewer-box>img {
    position: absolute;
    left: 0;
    top: 0;
}

.price {
    padding: 20px 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.quantity-right-plus {
    border-radius: 0 !important;
    outline: none !important;
    background-color: #fff !important;

    border: 1px solid #00000069 !important;
    border-right: 0 !important;

    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;

    height: 40px;
}

.quantity-left-minus {
    border-radius: 0 !important;
    outline: none !important;
    background-color: #fff !important;

    border: 1px solid #00000069 !important;
    border-left: 0 !important;

    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;

    height: 40px;
}

.input-number {
    text-align: center;
    outline: none;
    border: none;
    width: 60px;
    border-top: 1px solid #00000069;
    border-bottom: 1px solid #00000069;
    height: 40px;
}

.items svg {
    float: right;
    text-align: center;
    font-size: 40px;
}

ul.product-options li {
    display: inline !important;
}

ul.product-options li a {
    font-size: 20px;
}

tr>th {
    padding-top: 50px !important;
}

tr>td {
    padding-top: 50px !important;
}

tr>td:nth-child(2) {
    padding-top: 10px !important;
}

.sticky-top-local {
    background-color: #fff;
    position: sticky;
    top: 81px;
    z-index: 1019;
    padding: 10px;
}

.analysing-system p {
    font-size: 20px;
    text-align: justify;
}

.openion-item {
    margin: 30px 0;
    border: 2px solid #6e6e6e56;
    border-radius: 6px;
}

.openion-item img {
    margin: 20px;
    width: 70px;
    border: 1px solid #252424e3;
    border-radius: 50px;
}

.user-op {
    width: 93% !important;
    text-align: justify;
}

.admin-op {
    width: 93% !important;
    text-align: justify;
}

.openion-bottom-border {
    border-bottom: 2px solid #6e6e6e56;
    position: absolute;
    bottom: 75px;
    right: 0;
}

.like-dislike button {
    transition: all 0.3s;
    color: #6e6e6e56;
}

.like-dislike button:hover {
    color: #03c03c;
}

.table-systems {
    width: calc(100% / 1);
    overflow: scroll;
}