<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exo Game</title>

    <link rel="stylesheet" href="../../Public/Product/css/style.css" />

    <link rel="stylesheet" href="../../Public/assets/css/style.css" />
    <link rel="stylesheet" href="../../Public/assets/css/responsive.css" />
    <link rel="stylesheet" href="../../Public/assets/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="../../Public/assets/css/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../Public/assets/font/css/all.css" />
    <link rel="icon" href="../../Public/main-page/img/ICON_Optimized.png" />
</head>

<body>
    <!-- header -->
    <nav id="responsive-navigation">
        <ul>
            <li><a class="closeRN"><i class="fa fa-close fs-1 pointer mt-5" aria-hidden="true"></i></a></li>
            <li><a href="" class="fs-3">صفحه اصلی</a></li>
            <li>
                <a class="RN-category fs-3 pointer">دسته بندی</a>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <ul class="RN-SubMenu-ul">
                    <li>
                        <a class="RN-item fs-4 pointer">
                            کامپیوتر
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="RN-Submenu-li">
                            <li>
                                <a href="#" class="fs-4">
                                    کامپیوتر های گیمینگ
                                </a>
                            </li>
                            <li>
                                <a href="#" class="fs-4">
                                    کامپیوتر های رندرینگ
                                </a>
                            </li>
                            <li>
                                <a href="#" class="fs-4">
                                    کامپیوتر های اداری
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="RN-item  fs-4  pointer">
                            قطعات کامپیوتر
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="RN-Submenu-li">
                            <li>
                                <a href="#" class="fs-4">
                                    کامپیوتر های گیمینگ
                                </a>
                            </li>
                            <li>
                                <a href="#" class="fs-4">
                                    کامپیوتر های رندرینگ
                                </a>
                            </li>
                            <li>
                                <a href="#" class="fs-4">
                                    کامپیوتر های اداری
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="RN-item  fs-4  pointer">
                            مانیتور
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="RN-Submenu-li">
                            <li>
                                <a href="#" class="fs-4">
                                    مانیتور
                                </a>
                            </li>
                            <li>
                                <a href="#" class="fs-4">
                                    کامپیوتر های رندرینگ
                                </a>
                            </li>
                            <li>
                                <a href="#" class="fs-4">
                                    کامپیوتر های اداری
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="RN-item  fs-4  pointer">
                            کنسول‌‌های گیمینگ
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="RN-Submenu-li">
                            <li>
                                <a href="#" class="fs-4">
                                    کامپیوتر های گیمینگ
                                </a>
                            </li>
                            <li>
                                <a href="#" class="fs-4">
                                    کامپیوتر های رندرینگ
                                </a>
                            </li>
                            <li>
                                <a href="#" class="fs-4">
                                    کامپیوتر های اداری
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="" class="fs-3">اگزوتیک</a></li>
            <li><a href="" class="fs-3">درباره ما</a></li>
        </ul>
    </nav>

    <header class="mt-4 sticky-top first-header bg-glass">
        <div class="container-fluid">
            <div class="row text-center" style="padding: 15px 0; margin: 0;">
                <div class="col-lg-8">
                    <a href="#"><img src="../../Public/main-page/img/logo.svg" class="logo ms-4"
                            alt="logo"></a>
                    <div class="searchbar">
                        <input type="search" class="search" placeholder="جستجو...">
                        <i class="fa fa-search search-ico" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="short-icon col-lg-4 mt-2">
                    <a href="#">
                        <img src="../../Public/main-page/img/sina-logo.png" alt="personal logo"
                            class="ms-4 myLogo hide" style="width: 120px;">
                    </a>
                    <a href="#"> <!-- data-toggle="tooltip" title="عضویت | ورود" -->
                        <i class="green-shadow fa fa-user mx-4 fs-4" aria-hidden="true"></i>
                    </a>
                    <a href="#"> <!-- data-toggle="tooltip" title="سبد خرید" -->
                        <i class="green-shadow fa fa-shopping-bag me-4 fs-4" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <header class="shadow-sm" style="padding-bottom: 20px;">
        <div class="container-fluid">
            <div class="row mt-4 text-center ">
                <div class="col-md-8 MainMenu">
                    <nav class="navbar navbar-expand-sm navbar-light">
                        <button class="d-none navbar-toggler open" type="button" data-toggle="collapse"
                            data-target="#navbarID" aria-controls="navbarID" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-center close" id="navbarID">
                            <div class="navbar-nav">

                                <a class="nav-link SubMenu mx-2 fs-5" id="navbarScrollingDropdown"
                                    data-bs-toggle="dropdown" aria-expanded="false">

                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                    دسته بندی ها

                                </a>

                                <ul class="shadow-lg" id="dropDownMenu">
                                    <div class="row">
                                        <li>
                                            <div class="header-btn">
                                                <div class="col-md-2" data-id="1">
                                                    <a class="dropdown-item fs-5 text-end position-relative">
                                                        کامپیوتر
                                                        <i class="fa fa-angle-left position-absolute"
                                                            aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <div class="subMenu active">
                                                    <ul class="position-absolute myUl text-end">
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                کامپیوتر های گیمینگ
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                کامپیوتر های رندرینگ
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                کامپیوتر های اداری
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <img class="position-absolute myImg"
                                                        src="../../Public/main-page/img/Cat Thumbnail Pre Build v1.png"
                                                        alt="pc Thumbnail">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="header-btn">
                                                <div class="col-md-2" data-id="2">
                                                    <a class="dropdown-item fs-5 text-end position-relative">
                                                        قطعات کامپیوتر
                                                        <i class="fa fa-angle-left position-absolute"
                                                            aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <div class="subMenu">
                                                    <ul class="position-absolute myUl text-end">
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                پردازنده (CPU)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                گرافیک (GPU)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                حافظه جانبی (RAM)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                مادربرد (MotherBoard)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                موس و کیبورد
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <img class="position-absolute myImg"
                                                        src="../../Public/main-page/img/Cat Thumbnail Pc Eq v1 copy.png"
                                                        alt="pc Thumbnail">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="header-btn">
                                                <div class="col-md-2" data-id="3">
                                                    <a class="dropdown-item fs-5 text-end position-relative">مانیتور
                                                        <i class="fa fa-angle-left position-absolute"
                                                            aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <div class="subMenu">
                                                    <ul class="position-absolute myUl text-end">
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                کامپیوتر های گیمینگ
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                کامپیوتر های رندرینگ
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                کامپیوتر های اداری
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <img class="position-absolute myImg"
                                                        src="../../Public/main-page/img/Cat Thumbnail monitor.png"
                                                        alt="pc Thumbnail">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="header-btn">
                                                <div class="col-md-2" data-id="4">
                                                    <a class="dropdown-item fs-5 text-end position-relative">لپ
                                                        تاپ
                                                        <i class="fa fa-angle-left position-absolute"
                                                            aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <div class="subMenu">
                                                    <ul class="position-absolute myUl text-end">
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                کامپیوتر های گیمینگ
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                کامپیوتر های رندرینگ
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                کامپیوتر های اداری
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <img class="position-absolute myImg"
                                                        src="../../Public/main-page/img/Cat Thumbnail Laptops v1 copy.png"
                                                        alt="pc Thumbnail">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="header-btn">
                                                <div class="col-md-2" data-id="5">
                                                    <a class="dropdown-item fs-5 text-end position-relative">کنسول‌‌های
                                                        گیمینگ
                                                        <i class="fa fa-angle-left position-absolute"
                                                            aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <div class="subMenu">
                                                    <ul class="position-absolute myUl text-end">
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                کامپیوتر های گیمینگ
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                کامپیوتر های رندرینگ
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="fs-5 fw-100">
                                                                کامپیوتر های اداری
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <img class="position-absolute myImg"
                                                        src="../../Public/main-page/img/Cat Thumbnail Consoles v1 copy.png"
                                                        alt="pc Thumbnail">
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                                </ul>

                                <a class="nav-link active mx-2 fs-5" aria-current="page" href="#">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    صفحه اصلی
                                </a>
                                <a class="nav-link mx-2 fs-5" aria-current="page" href="#">
                                    <i class="fa fa-ticket" aria-hidden="true"></i>
                                    اگزوتیک
                                </a>
                                <a class="nav-link mx-2 fs-5" aria-current="page" href="#">
                                    <i class="fa fa-question" aria-hidden="true"></i>
                                    درباره ما
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-md-4 mt-3">
                    <button class="fs-6 btn btn-outline-secondary gray-shadow">درخواست پیش فاکتور</button>
                </div>
            </div>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars fs-1 px-4"></i>
        </div>

    </header>

    <!-- content -->
    <main>

        <div class="container my-5">
            <div class="row">
                <div class="col-lg-5 my-5">
                    <div class="example">
                        <div class="zoom-box">
                            <img class="product_img"
                                src="../../Public/Product/img/Gamdias-AURA-GC2-Elite-Black-1-1-1500x1500.jpg"
                                width="100%" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 my-5">
                    <h2 class="fw-bold fs-1 mb-3">نام محصول</h2>
                    <h4 class="text-muted fs-5">تولیدکننده: نام</h4>
                    <h4 class="text-muted fs-5">مدل کالا: سیستم </h4>
                    <h4 class="text-muted fs-5">
                        <div class="star mt-1" style="display: inline; float: right;">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <h5 class="me-4 fs-6 mt-1 text-muted" style="display: inline; float: right;">4215 نظر</h5>
                    </h4>
                </div>
                <div class="col-lg-3 my-5">
                    <div class="price">
                        <h2 class="text-center">31,000,000 تومان</h2>

                        <div class="input-group justify-content-center my-3">
                            <h3 class="fs-4 mt-2 text-muted">تعداد : &nbsp;</h3>
                            <button type="button" class="quantity-left-minus btn-number" data-type="minus"
                                        data-field=""><i class="fa fa-minus text-dark" aria-hidden="true"></i></button>
                                    <input type="text" id="quantity" name="quantity" class="input-number quantity"
                                        value="1" min="1" max="100">
                                    <button type="button" class="quantity-right-plus btn-number" data-type="plus"
                                        data-field=""><i class="fa fa-plus text-dark" aria-hidden="true"></i>
                                    </button>
                        </div>

                        <button class="btn btn-outline-success fs-4 text-center my-2 w-100">افزودن به سبد خرید</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-md-5 items text-center">
                    <i class="fa fa-shield text-muted" aria-hidden="true"></i>
                    <h3 class="float-right mt-2 text-muted">ضمانت اصالت کالا</h3>
                </div>
                <div class="col-lg-3 col-md-6 mb-md-5 items text-center">
                    <i class="fa fa-user text-muted" aria-hidden="true"></i>
                    <h3 class="float-right mt-2 text-muted">پرداخت امن</h3>
                </div>
                <div class="col-lg-3 col-md-6 mb-md-5 items text-center">
                    <i class="fa fa-bank text-muted" aria-hidden="true"></i>
                    <h3 class="float-right mt-2 text-muted">پرداخت امن</h3>
                </div>
                <div class="col-lg-3 col-md-6 mb-md-5 items text-center">
                    <i class="fa fa-refresh text-muted" aria-hidden="true"></i>
                    <h3 class="float-right mt-2 text-muted">امکان بازگشت کالا</h3>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <nav class="bottom-border sticky-top-local" style="margin-top: 100px; margin-bottom: 100px;">
                <ul class="product-options">
                    <div class="row text-center">
                        <div class="col-lg-3 w-25">
                            <li>
                                <a href="#parts-list">لیست قطعات</a>
                            </li>
                        </div>
                        <div class="col-lg-3 w-25">
                            <li>
                                <a href="#analysing-system">بررسی سیستم</a>
                            </li>
                        </div>
                        <div class="col-lg-3 w-25">
                            <li>
                                <a href="#openion">نظرات &nbsp;(300)</a>
                            </li>
                        </div>
                        <div class="col-lg-3 w-25">
                            <li>
                                <a href="#question">سوالات &nbsp;(300)</a>
                            </li>
                        </div>
                    </div>
                </ul>
            </nav>

            <h2 id="parts-list" class="right-border">لیست قطعات</h2>
            <div class="table-systems">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center fs-4">قطعه</th>
                            <th scope="col" class="text-center fs-4">تصویر</th>
                            <th scope="col" class="text-center fs-4">مدل</th>
                            <th scope="col" class="text-center fs-4">تعداد * قیمت</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-center fs-5">CPU</th>
                            <td>
                                <img src="../../Public/Product/img/intel-core-13th-gen-tray-1-150x150.jpg"
                                    alt="product-img" width="100px">
                            </td>
                            <td class="text-center fs-5">پردازنده Intel Core i7 13700K - Tray</td>
                            <td class="text-center fs-5">1 * 21,150,000 تومان</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center fs-5">MotherBoard</th>
                            <td>
                                <img src="../../Public/Product/img/GIGABYTE-Z790-AORUS-ELITE-1-150x150.jpg"
                                    alt="product-img" width="100px">
                            </td>
                            <td class="text-center fs-5">مادربرد GIGABYTE Z790 AORUS ELITE</td>
                            <td class="text-center fs-5">1 * 16,499,000 تومان</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center fs-5">RAM</th>
                            <td>
                                <img src="../../Public/Product/img/TeamGroup-T-Force-DELTA-RGB-DDR5-Dual-Black-1-150x150.jpg"
                                    alt="product-img" width="100px">
                            </td>
                            <td class="text-center fs-5"> رم TeamGroup DDR5 32GB Dual 5600MHz CL32 - Black</td>
                            <td class="text-center fs-5">1 * 7,350,000 تومان</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center fs-5">Graphic</th>
                            <td>
                                <img src="../../Public/Product/img/gigabyte-rtx-4080-super-windforce-16g-1-150x150.jpg"
                                    alt="product-img" width="100px">
                            </td>
                            <td class="text-center fs-5">کارت گرافیک GIGABYTE RTX 4080 Super Windforce 16G</td>
                            <td class="text-center fs-5">1 * 86,000,000 تومان</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center fs-5">Hard Disk</th>
                            <td>
                                <img src="../../Public/Product/img/wd-blue-2tb-150x150.jpg"
                                    alt="product-img" width="100px">
                            </td>
                            <td class="text-center fs-5">هارد دیسک WD Blue 2TB WD20EZAZ</td>
                            <td class="text-center fs-5">1 * 4,550,000 تومان</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center fs-5">Power</th>
                            <td>
                                <img src="../../Public/Product/img/Asus-Prime-850W-ATX3.0-Gold-1-150x150.jpg"
                                    alt="product-img" width="100px">
                            </td>
                            <td class="text-center fs-5">پاور Asus Prime 850W (ATX3.0)</td>
                            <td class="text-center fs-5">1 * 7,500,000 تومان</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center fs-5">Case</th>
                            <td>
                                <img src="../../Public/Product/img/Gamdias-AURA-GC2-Elite-Black-1-1-1500x1500.jpg"
                                    alt="product-img" width="100px">
                            </td>
                            <td class="text-center fs-5">کیس Awest GT-AV401-FB</td>
                            <td class="text-center fs-5">1 * 8,900,000 تومان</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container my-5 analysing-system bottom-border">
                <h2 id="analysing-system" class="right-border" style="margin-top: 150px; margin-bottom: 50px;">بررسی
                    سیستم
                </h2>
                <p>
                    فروشگاه اِگزو گیم به عنوان عرضه کننده رسمی و تخصصی محصولات گیمینگ، سیستم‌های تخصصی در بودجه‌های
                    مختلف را برای گیمرهای عزیز فراهم می‌کند و با گارانتی و ضمانت معتبر شرکتی آن‌ها را بفروش می‌رساند.
                    هدف ما این است که تمامی گیمرها با قدرت خرید مختلف، بتوانند کامپیوتری را برای اجرای بازی‌های مختلف در
                    اختیار داشته باشند.
                    <br>
                    <br>
                    <img src="../../Public/Product/img/system analys/Exo GPBS Grade 04pc v1Artboard 1.jpg"
                        alt="" width="100%">
                    <br>
                    <br>
                    سیستم گیمینگ اگزو فانتوم

                    با سیستم گیمینگ اگزو فانتوم، دیگر نیازی نیست نگران فشار سنگینِ سخت‌افزاریِ بازی یا برنامه‌ی خاصی
                    باشید. این سیستم با قطعات مدرن و پرقدرت اطمینان می‌دهد که شما بهترین عملکرد را در هر زمینه‌ای تجربه
                    کنید.

                    توجه به این نکته بسیار مهم است که با بالا رفتن سطح، توان و قدرت پردازنده مرکزی، سطح و رده‌ی مادربرد
                    را نیز ارتقا دهیم. مادربرد مدرنی که چیپست پیشرفته‌تر و البته فازهای برق‌رسانی بهتری برای تغذیه
                    پردازنده داشته باشد، قطعا در عملکرد نهایی به ما کمک خواهد کرد. زمانی که با پلتفرم اینتل طرف هستیم،
                    می‌دانیم که پیشرفته‌ترین چیپست مادربرد با حرف Z نمایش داده می‌شود. مادربردهای سری Z اینتل، با فازهای
                    برق‌رسانی گسترده و قدرتمند، هیت‌سینک‌ها و خنک‌کننده‌های حساب شده و بهره‌گیری از آخرین فناوری‌
                    درگاه‌های مختلف، پتانسیل جدیدی از قدرتِ قطعات سخت‌افزاری و طبیعتا تجربه‌ی کاربر باز می‌شود.


                </p>
            </div>

            <div class="container my-5 bottom-border">
                <h2 id="openion" class="right-border" style="margin-top: 150px; margin-bottom: 50px;">نظرات (300)</h2>
                <button class="btn btn-outline-success fs-4 w-100">ثبت نظر جدید &nbsp; <i class="fa fa-plus"
                        aria-hidden="true"></i></button>
                <h5 class="fs-5 text-muted my-3">لطفا برای ثبت نظر وارد حساب خود شده یا ثبت نام نمایید.</h5>
                <div class="openion-item">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 op-img">
                            <img src="../../Public/Product/img/avatar/avatar.png" alt="">
                        </div>
                        <div class="starts col-lg-10 col-md-10 mt-4 text-muted op-user-detail">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <div class="detail">
                                <span>نام کاربر &nbsp; | &nbsp; ۱۴۰۲/۱۰/۰۴</span>
                            </div>
                        </div>
                        <div class="col-md-12 mt-1 mb-2 mx-5 user-op">
                            <p class="fs-5">
                                عالی خوببببببببببببببببببببببببببببببببببببببببببببببببب
                            </p>
                        </div>
                    </div>
                </div>
                <div class="openion-item">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 op-img">
                            <img src="../../Public/Product/img/avatar/avatar.png" alt="">
                        </div>
                        <div class="starts col-lg-10 col-md-10 mt-4 text-muted op-user-detail">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <div class="detail">
                                <span>نام کاربر &nbsp; | &nbsp; ۱۴۰۲/۱۰/۰۴</span>
                            </div>
                        </div>
                        <div class="col-md-12 mt-1 mb-2 mx-5 user-op">
                            <p class="fs-5">
                                عالی خوببببببببببببببببببببببببببببببببببببببببببببببببب
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container my-5">
                <h2 id="question" class="right-border" style="margin-top: 150px; margin-bottom: 50px;">سوالات (300)</h2>
                <button class="btn btn-outline-success fs-4 w-100">ثبت سوال جدید &nbsp; <i class="fa fa-plus"
                        aria-hidden="true"></i></button>
                <h5 class="fs-5 text-muted my-3">لطفا برای ثبت سوال وارد حساب خود شده یا ثبت نام نمایید.</h5>

                <div class="openion-item position-relative">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 op-img">
                            <img src="../../Public/Product/img/avatar/avatar.png" alt="">
                        </div>
                        <div class="starts col-lg-10 col-md-10 mt-4 text-muted op-user-detail">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <div class="detail">
                                <span>نام کاربر &nbsp; | &nbsp; ۱۴۰۲/۱۰/۰۴</span>
                            </div>
                        </div>
                        <div class="col-md-12 mt-1 mb-2 mx-5 user-op">
                            <p class="fs-5">
                                ببخشید ۴۰۷۰ تی ای سوپر رو کی اضافه میکنین
                            </p>
                        </div>
                        <div class="col-md-12 mt-1 mb-2 mx-5 admin-op">
                            <h4>پاسخ اگزوگیم:</h4>
                            <p class="fs-5">
                                سلام دوست عزیز برای مشاوره دقیق تر با شماره فروشگاه تماس بگیرید.
                            </p>
                        </div>
                        <div class="openion-bottom-border"></div>
                        <div class="like-dislike w-50 my-4 mx-5">
                            <button style="background-color: unset; border: 0;" class="fs-4"><i
                                    class="fa fa-thumbs-up fs-3" aria-hidden="true"></i> 4 &nbsp; &nbsp;</button>
                            <button style="background-color: unset; border: 0;" class="fs-4"><i
                                    class="fa fa-thumbs-down fs-3" aria-hidden="true"></i> 2 &nbsp; &nbsp;</button>
                        </div>
                    </div>
                </div>
                <div class="openion-item position-relative">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 op-img">
                            <img src="../../Public/Product/img/avatar/avatar.png" alt="">
                        </div>
                        <div class="starts col-lg-10 col-md-10 mt-4 text-muted op-user-detail">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <div class="detail">
                                <span>نام کاربر &nbsp; | &nbsp; ۱۴۰۲/۱۰/۰۴</span>
                            </div>
                        </div>
                        <div class="col-md-12 mt-1 mb-2 mx-5 user-op">
                            <p class="fs-5">
                                سلام میشه از کارت گرافیک RTX 3080 TI استفاده کرد ؟
                                به جای این CPU میشه از RYZEN 7 5800 روش نصب کرد ؟
                            </p>
                        </div>
                        <div class="col-md-12 mt-1 mb-2 mx-5 admin-op">
                            <h4>پاسخ اگزوگیم:</h4>
                            <p class="fs-5">
                                سلام دوست عزیز برای مشاوره دقیق تر با شماره فروشگاه تماس بگیرید.
                            </p>
                        </div>
                        <div class="openion-bottom-border"></div>
                        <div class="like-dislike w-50 my-4 mx-5">
                            <button style="background-color: unset; border: 0;" class="fs-4"><i
                                    class="fa fa-thumbs-up fs-3" aria-hidden="true"></i> 2 &nbsp; &nbsp;</button>
                            <button style="background-color: unset; border: 0;" class="fs-4"><i
                                    class="fa fa-thumbs-down fs-3" aria-hidden="true"></i> 1 &nbsp; &nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>

    <!-- footer -->
    <footer class="mt-4">
        <div class="container">
            <div class="boredr-sec"></div>
            <div class="row my-4">
                <div class="footer-img col-md-2 mt-4">
                    <img src="../../Public/main-page/img/logo-footer.svg" alt="">
                </div>
                <div class="foonter-border col-md-2 mt-4">
                    <h4 class="text-muted text-center"><i class="fa fa-phone text-success"
                            aria-hidden="true"></i>&nbsp;&nbsp; تماس با پشتیبانی</h4>
                    <h5 class="text-muted text-center">09159702153</h5>
                </div>
                <div class="col-md-4 mt-4">
                    <h4 class="text-muted me-4"><i class="fa fa-map-marker-alt text-success"
                            aria-hidden="true"></i>&nbsp;&nbsp; نشانی</h4>
                    <h5 class="text-muted me-4">تهران، تقاطع خیابان ولیعصر و طالقانی، مجتمع تجاری نور،
                        طبقه همکف سوم تجاری، واحد ۸۰۲۸</h5>
                </div>
            </div>

            <!-- accordion -->
            <div class="row">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                <h6 class="fs-6 text-muted fw-bold">اطلاعات</h6>
                                &nbsp; &nbsp; &nbsp;
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <a href="#" class="fw-bold fs-4">
                                        <li>درباره اگزو</li>
                                    </a>
                                    <a href="#" class="fw-bold fs-4">
                                        <li>ثوانین اگزو</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                <h6 class="fs-6 text-muted fw-bold">پرسش های متداول</h6>
                                &nbsp; &nbsp; &nbsp;
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <a href="#" class="fw-bold fs-4">
                                        <li>شیوه ثبت سفارش</li>
                                    </a>
                                    <a href="#" class="fw-bold fs-4">
                                        <li>شیوه پرداخت</li>
                                    </a>
                                    <a href="#" class="fw-bold fs-4">
                                        <li>شیوه ارسال</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                <h6 class="fs-6 text-muted fw-bold">حساب کاربری من</h6>
                                &nbsp; &nbsp; &nbsp;
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <a href="#" class="fw-bold fs-4">
                                        <li>حساب کاربری من</li>
                                    </a>
                                    <a href="#" class="fw-bold fs-4">
                                        <li>سفارش ها</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="social-media">
                            <a href="#"><i class="fab fa-instagram fs-2 mx-2" aria-hidden="true"></i></a>
                            <a href="#"><i class="fab fa-telegram fs-2 mx-2" aria-hidden="true"></i></a>
                            <a href="#"><i class="fab fa-youtube fs-2 mx-2" aria-hidden="true"></i></a>
                            <a href="#"><i class="fab fa-twitter fs-2 mx-2" aria-hidden="true"></i></a>
                            <a href="#"><i class="fab fa-twitch fs-2 mx-2" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <h5 class="text-center text-dark fw-bold"> <span>Copyright 2024 © Sina Rahimzadeh - All rights
                        reserved</span> &nbsp; | &nbsp; طراحی شده با <i class="fa fa-heart text-success"
                        aria-hidden="true"></i> توسط <a href="#" style="font-size: 15px;">thesina_r</a></h5>
            </div>
        </div>
    </footer>

    <script src="../../Public/assets/js/bootstrap/bootstrap.bundle.js"></script>
    <script src="../../Public/assets/js/swiper/swiper-bundle.min.js"></script>
    <script src="../../Public/assets/js/jquery-3.7.1.min.js"></script>
    <script src="../../Public/assets/js/all.my.js"></script>
    <script src="../../Public/assets/font/js/all.js"></script>

    <script src="../../Public/Product/JS/all.my.js"></script>

    <script>
        // menu
        $(document).ready(function () {
            $('header .SubMenu').click(function () {
                let SubMenu = $('#dropDownMenu');
                SubMenu.slideDown();
                $('html').append('<div class="back-container"></div>');
                $('.back-container').click(function () {
                    SubMenu.slideUp();
                    $(this).remove();
                })
            })
        })


        // Responsive Menu
        $(document).on('click', '.RN-category', () => {
            $('.RN-SubMenu-ul').slideToggle();
        })
        $(document).ready(function () {
            $(document).on('click', '.RN-item', function (e) {
                e.preventDefault();
                var submenu = $(this).next('.RN-Submenu-li');
                $('.RN-Submenu-li').not(submenu).slideUp();
                submenu.slideToggle();
            });
        });

        $(document).on('click', '.burger-menu', () => {
            let responsiveMenu = $('#responsive-navigation');
            responsiveMenu.show();
            responsiveMenu.animate({
                right: 0
            }, 300);
            $('.closeRN').click(function () {
                responsiveMenu.animate({
                    right: '-1000px'
                }, 300);
            })
        })

        // Swpier 2
        var swiper = new Swiper(".mySwiper-2", {
            pagination: {
                el: ".swiper-pagination",
                dynamicBullets: true,
            },
        });
    </script>

</body>

</html>